HOME

.home h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;;
}
.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #777;
}

.post h2,
.post p {

    margin-bottom: 1rem;
}

.post h2::first-letter {
    text-transform: uppercase;
}

.btn {
    background-color: #fff;
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    color: #fff;
    background-color: #0e1217;
}
.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin: 20px;
    text-align: center;
  }
.botao{
background-color: #737475; 
color: #fff;
padding: 3px 20px; 
border: none; 
border-radius:4px;
cursor: pointer; 
text-align: center;

}
.h2{
    text-align: center;
}
.myInput {
    width: 200px;
  padding: 5px;
  }
.p{
    text-align: center;
    font: optional;
}
.img{
    width: 400;
    height: 341;
}
  